#challenge-info {
	margin-bottom: 1em;
	font-size: 1.5em;
}

#timer {
	font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}

#challenge {
	margin: 5% auto 0;
	display: block;
	width: 50%;
}

#code {
	display: block;
	margin: 0 auto;
	width: 100%;
	font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}

/* Override codemirror.css file */
.CodeMirror pre {
	font-size: 1.25em !important;
}

#submit {
	margin-top: 1em;
	display: block;
	float: right;
}

#answer {
	margin-top: 2em;
	font-size: 1.5em;
}

.correct {
	color: red;
}

input[type=submit] {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	border: none;
	padding: 0.75em 1.5em;
	background-color: #0099CC;
	color: #fff;
	font-size: 1em;
}

input[type=submit]:hover {
	cursor: pointer;
}
