#challenge-info {
	margin-bottom: 1em;
	font-size: 1.5em;
}

#challenge {
	margin: 5% 35% 0 auto;
	display: block;
	width: 45%;
}

#code {
	display: block;
	margin: 0 auto;
	width: 100%;
	font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}

/* Override codemirror.css file */
.CodeMirror pre {
	font-size: 1.25em !important;
}

#submit {
	margin-top: 1em;
	display: block;
	float: right;
}

#answer {
	margin-top: 2em;
	font-size: 1.5em;
}

.correct {
	color: red;
}

input[type=submit] {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	border: none;
	padding: 0.75em 1.5em;
	background-color: #0099CC;
	color: #fff;
	font-size: 1em;
}

input[type=submit]:hover {
	cursor: pointer;
}

#opponent {
	position: absolute;
	display: block;
	text-align: center;
	width: 30%;
	right: 2.5%;
	top: 20%;
}

#opponent-title {
	text-align: center;
	font-size: 1.2em;
}

#timer {
	color: red;
	font-size: 2em;
	padding: 0.4em 0;
	border: 1px solid #FFA2A2;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	position: absolute;
	display: block;
	text-align: center;
	width: 15%;
	right: 10%;
	top: 40%;
}
