.java {
	background: url('../images/java.png');
}

.python {
	background: url('../images/python.png');
}

.crypto {
	background: #fff;
}

.ctf {
	background: #fff;
}

.center {
	text-align: center;
}

.title {
	font-size: 1.75em;
	margin-bottom: 1em;
}

#button-wrap > div {
	text-align: center;
	-webkit-column-break-inside: avoid;
	          page-break-inside: avoid;
	               break-inside: avoid;
}

#button-wrap #choose-opponent {
	height: 24em;
	position: relative;
}

#button-wrap #choose-opponent > div {
	position: absolute;
	bottom: 50%;
	width: 100%;
	line-height: 3em;
}

#button-wrap {
	min-width: 40em;
	list-style-type: none;
	-webkit-column-count: 3;
	   -moz-column-count: 3;
	        column-count: 3;
	-webkit-column-gap: 2em;
	   -moz-column-gap: 2em;
	        column-gap: 2em;
	padding: 0 15%;
	margin: 3em 0 auto;
}

#button-wrap > div > button {
	background-size: 12em 12em;

	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	display: block;
	height: 12em;
	width: 12em;
	text-align: center;
	text-decoration: none;
	margin: auto;
	margin-bottom: 3em;
	font-size: 1em;
	opacity: 0.2;
	border: 1px solid #000;
}

#button-wrap > div > button:hover {
	cursor: pointer;
	background-color: #FFFFFF;
	opacity: 1;
	transition: opacity .40s ease-in-out;
	-moz-transition: opacity .40s ease-in-out;
	-webkit-transition: opacity .40s ease-in-out;
}

#difficulty {
	position: absolute;
}
